</article>
</body>

<div class="navbar navbar-fixed-bottom">
<div class="navbar-right"><p>Powered by Siegfried</p></div>
<% if (success) { %>
  <div><%= success %></div>
<% } %>
<% if (error) { %>
  <div><%= error %> </div>
<% } %>
</div>

</html>