<%- include header %>

<div class="page-header">
    <h1>所有投票</h1>
</div>
 <div class="row">
 	<div class="col-xs-5">
      <a href="/newpoll" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>增加投票</a>
    </div>
    <div class="col-xs-7">
    <input type="text" class="form-control" ng-model="query" 
placeholder="查找TAG">
    </div>
 </div>
 <p><hr></p>

<ul>
 <% for( var poll in polls ) { %>
 	<li><a href="/viewpoll/<%= polls[poll]._id %>"><%= polls[poll].question %></a></li>
 <% } %>
</ul>

<%- include footer %>